//
// Footer
// --------------------------------------------------

footer {
  @extend .hidden-xs;
  height: 80px;
  padding: 0 30px;
  width: 100%;

  p {
    color: $footer-text;
    float: left;
    font-weight: 400;
    line-height: 80px;
    margin: 0;
  }

  ul {
    float: right;
    line-height: 80px;
    margin: 0;

    > li {
      margin: 0;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center;

      a {
        color: $footer-text;

        &:hover {
          color: $footer-text;
          text-decoration: underline;
        }
      }
    }
  }
}
