//
// Home
// --------------------------------------------------

.center-row {
  .logo-joaopaulo {
    display: none;

    @media only screen and (min-width : 992px) {
      display: block;
      position: absolute;
      right: 40px;
      top: 31px;
      width: 150px;
    }
  }
}

.content-home {
  padding: 0;
  margin-top: -10%;

  h1,
  h2,
  h3 {
    span {
      color: black;
      font-weight:600;
      text-align: left;
    }
  }

  h1 {
    .s-title {
      font-size: 26px;
      display: inline-block;
      border-bottom: 1px solid black;
    }
  }

  h3 {
    .s-desc {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .barra {
    border-top: 1px solid black;
    display: block;
    width: 50%;
    margin: 10px 0;
  }

  .group-skills {
    margin-top: 20px;

    .label.label-skill {
      border: 1px solid $main-text;
      color: $main-text;
      display: inline-block;
    }
  }

  .social-list {
    display: table;
    margin: 20px 0 0;

    li {
      padding:0 5px;
      text-align:center;

      a {
        @include transition(color .3s ease);
        color: $main-text;
        font-size: 12px;
        font-weight: 300px;

        &:hover {
          color: lighten($black,90%);
          text-decoration: none;
        }
      }

      &:first-child{
        padding-left: 0;
      }
    }
  }
}

.content-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

@media only screen and (min-width : 768px) {
  .content-home {
    margin-top: 0;

    h1,
    h2 {
      span {
        font-weight:600;
        text-align: left;
      }
    }

    h1 {
      .s-title {
        font-size: 45px;
      }
    }

    h3 {
      .s-desc {
        font-size: 24px;
        line-height: 40px;
      }
    }

    .social-list {
      li {
        padding: 0 15px;

        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width : 992px) {
  .content-home {
    padding: 0 0 0 10%;
  }
}
