// Portfolio
// Autor (@jpcmf80)

// --------------------------------------------------
// 1. Google Fonts
// 2. Variáveis Gerais
// 3. Loading
// 4. Estilos Gerais
// 5. Herença do navmenu-push.css e jasny-bootstrap.css
// 6. Off Canvas
// 7. Mobile First Method
// 8. Drift Widget
// --------------------------------------------------

//
// 1. Google Fonts
// --------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

//
// 2. Variáveis Gerais
// --------------------------------------------------

//
// resets
//

$nbr : 0;
$nb  : 0;

//
// fontes
//

$open-sans     : 'Open Sans', sans-serif;
// $source-sans   : 'Source Sans Pro', sans-serif;

//
// cores
//

$bg-barra         : rgba(8, 102, 220, 0.2);
$black            : #000;
$footer-text      : #6b6053;
$in-barra         : rgba(8, 102, 220, 0.75);
$link-color       : #6b6053;
$link-hover       : #424a51;
$main-color       : #2A213C;
$main-text        : #6b6053;
$white            : #FFF;

$hr-title         : rgba(255,255,255,.1);
$btn-color-text   : #6b6053;
$btn-border-color : #6b6053;
$small-color-text : #6b6053;
$bg-main-color    : #6b6053;
$bg-main-color2   : #fff;

//
// size main content
//

$main-max-width : 1400px;

//
// 3. Loading
// --------------------------------------------------

.loader {
  background:url("../images/loading.gif") 50% 50% no-repeat white;
  height:100%;
  left:0px;
  overflow:hidden;
  position:fixed;
  top:0px;
  width:100%;
  z-index:9999;
}

//
// 4. Estilos Gerais
// --------------------------------------------------

body {
  background-attachment: fixed;
  background-image: linear-gradient($bg-main-color, $bg-main-color2);
  font-family: $open-sans;
}

.wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;

  .center-container {
    height:100%;
    padding:0;
    margin:0;
  }

  .center-row {
    height:100%;
  }
}

.content-all {
  @include make-xs-column(12);
}

//
// contents basicos
//

.content-sobre,
.content-portfolio,
.content-clientes,
.content-contato {
  max-width: $main-max-width;
  padding-bottom: 100px;
}

//
// separador
//

hr.hr-interna {
  margin-bottom: 20px;
  margin-top: 20px;
}

hr {
  border-color: $hr-title;
}

//
// titulos
//

h1,
h2,
h3,
h4 {
  color: black;
  font-weight: 600;
  margin: 0;
  span {
    display: block;
    text-align: center;
  }
}

.g-titulo {
  padding: 40px 0 0;
}

.titulo {
  text-align: left;
}

.sub-titulo {
  text-align: left;
  padding-top: 20px;
}

.sub-titulo {
  font-weight: 300;
}

h1 {
  .s-title {
    padding-bottom: 10px;
  }
}

h2 {
  .s-desc {
    font-weight: 300;
  }
}

h2.titulo-sec {
  margin: 0;
  padding: 40px 0 0;
  text-align: center;
}

//
// botoes
//

.bt-enviar-contato {
  background: transparent;
  border-radius: 0;
  border: 1px solid $btn-border-color;
  color: $btn-color-text;
  font-weight: 400;
  opacity: 1;
  padding: 13px 4px;
  transition: opacity 300ms ease;
  width: 200px;
  z-index: 3;

  &:hover,
  &:active,
  &:focus {
    color: $btn-color-text;
    opacity: 0.7;
  }
}

.btn-basic {
  border-radius: 0;
  border: 1px solid $btn-border-color;
  color: $btn-color-text;
  font-weight: 400;
  opacity: 1;
  padding: 13px 4px;
  transition: opacity 300ms ease;

  &:hover,
  &:active,
  &:focus {
    color: $btn-color-text;
    opacity: 0.7;
  }
}

.btn-hire {
  border-radius: 0;
  border: 1px solid $btn-border-color;
  color: $btn-color-text;
  font-weight: 400;
  margin-top: 35px;
  opacity: 1;
  padding: 13px 4px;
  position: relative;
  text-align: center;
  transition: opacity 300ms ease;
  width: 200px;
  z-index: 3;

  &:hover {
    color: $btn-color-text;
    opacity: 0.7;
  }
}

//
// 5. Herença do navmenu-push.css e jasny-bootstrap.css
// --------------------------------------------------

.navbar-toggle {
  border:0;
  float: left;
  height:34px;
  margin-left: 15px;
  margin-top:4px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width:44px;

  &:hover,
  &:focus,
  &:active {
    background:none!important;
  }

  .icon-bar {
    background-color:darken($white,5%)!important;
    height:3px;
    left: 0;
    margin:0!important;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width:33px;

    &:nth-child(1) {
      top:10px;
    }

    &:nth-child(2) {
      top:19px;
    }

    &:nth-child(3) {
      top:28px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top:19px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        left:-60px;
        opacity: 0;
      }

      &:nth-child(3) {
        top:19px;
        transform: rotate(-135deg);
      }
    }
  }
}

.canvas-slid {
  .icon-bar {
    &:nth-child(1) {
      top:19px;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left:-60px;
    }

    &:nth-child(3) {
      top:19px;
      transform: rotate(-135deg);
    }
  }
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }

  .navbar {
    background: none;
    border: none;
    right: auto;
  }
}

.offcanvas {
  display: none;
}

.offcanvas.in {
  display: block;
}

//
// 6. Off Canvas
// --------------------------------------------------

.navmenu-default {
  background: black;
  border: 0;
}

.nav > li {
  background:rgba($white,.1);

  a {
    @include transition(color .3s ease);
    @include transition(padding .3s ease);
    color:$white!important;
    font-weight:700;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;

    &:hover {
      color: #000;
    }

    &.current {
      color: #000;
    }

    &:hover,
    &.current {
      text-decoration: underline;
    }
  }
}

.hide-content {
  text-align: center;

  p.nome {
    font-size: 18px;
  }

  img {
    margin: 40px 0 10px 0;
    width: 248px;
  }

  .navmenu-brand {
    margin: 0;
    padding: 5px 15px;
  }

  .navmenu-brand,
  p {
    color: $white;
  }

  h2 {
    font-size:18px;
    padding-left:15px;
    text-align:left;
  }

  .navmenu-nav {
    margin-top: 40px;
  }

  hr {
    border-color:lighten($black,35%);
    margin-left:14px;
    margin-right:14px;
  }

  .social-list {
    margin-top: 30px;
    li {
      a {
        color: #fff;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

.content-error {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  p {
    color: #fff;
    a {
      color: #fff;
    }
  }
}

//
// 7. Mobile First Method
// --------------------------------------------------

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
 .navbar-default{
   background-color: darken(black, 7%);
   border:0;
 }
}

 /* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
 .navbar-default{
   background-color: darken(black, 7%);
   border:0;
 }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .navbar-default{
    background-color: darken(black, 7%);
    border:0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar-toggle{
    margin-left:35px!important;
    margin-top:24px;
  }
}

/* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {}

//
// 8. Drift Widget
// --------------------------------------------------

@media only screen and (min-width : 768px) {
  #drift-widget {
    bottom: 50px !important;
  }
}
