//
// Portfolio
// --------------------------------------------------
.content-portfolio {

    .portfolio-list {
        display:flex;
        flex-wrap:wrap;

        li {
            display:flex;

        }
    }

    ul {
        list-style: none;

        li {
            padding:0;

            .content-work {
                @include make-row();
                // @include box-shadow(0,1,1,rgba(0,0,0,0.5), inset);
                margin:0;

                p {
                  font-size:inherit;
                  font-weight:300;
                }

                .img-responsive {
                //   padding-bottom:20px;
                }

                .work-left {
                    @include make-xs-column(12);
                    @include make-md-column(8);
                }
                .work-right {
                  @include make-xs-column(12);
                  @include make-md-column(4);
                  display: flex;
                  align-items: center;
                  justify-content: center;

                //   padding-left:0;
                //   border:1px solid red;
                }

                .work-center {
                    @include make-xs-column(12);
                    padding-top: 30px;
                }

                .bt-enviar-contato {
                    // border-top: 0;
                    margin-bottom: 0px;
                }

            }

            .lazy {
                //display:none;
                //@include box-shadow(0,1,1,rgba(0,0,0,0.5), inset);
                // background-color:#888;
                &:hover {
                    opacity: 0.8;
                }
                img {

                }
            }

            .panel {
                // border:$nb;
                border: 1px solid yellow;
                border-radius: $nbr;
                max-width: 1000px;
                .panel-body {
                    i {
                        font-size:18px;
                        padding-right:10px;
                    }
                }
            }

        }

    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .content-portfolio {

        ul {

            li {

                .content-work {

                    p {
                        font-size:16px;
                    }

                    .img-responsive {

                    }

                    // .work-left,
                    // .work-right {
                    //     padding-left:inherit;
                    // }

                    .work-center{

                    }
                }

            }

        }

    }

}
